.chat-main
  .chat-main__group-info
    .info-left
      .info-left__group-name
        = @group.name
      .info-left__member
        Member：
        - @group.users.each_with_index do |user, i|
          - unless i.zero?
            ,
          = user.name
    .info-right
      = link_to 'Edit', edit_group_path(@group), class: "edit"
      
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    .new_message
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        .input-box
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'